/********************* 
 *Color Pallete 
 *
 * Cloudy: #ECF0F1
 * Pomegranete #C0392B
 *
 *********************/ 

* {
	font-family: 'Raleway', sans-serif;
}

body {
	background-color: #ECF0F1;
}

h1 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.logo {
	text-align: center;
	font-size: 24pt;
	color: #ECF0F1;
	margin: 0;
}

.line {
	border-color: #C0392B;
	background-color: #C0392B;
}

/*****************************************
 * BANNER
 ****************************************/

.banner2 {
	background-image: url('../imgs/redblock.png');
	background-repeat: repeat;
	padding: 20px;
}

.firstline {
	margin: 0;
}


/*****************************************
 * NAVBAR 
 ****************************************/

nav {
	text-align: center;
	margin-top: 20px;
}

nav ul {
	list-style: none;
	padding-left: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 700;
	padding: 15px 10px;
	color: #C0392B;
}

li a {
	text-decoration: none;
}

nav a:visited {
	color: #C0392B;
}

nav a:hover, nav a.selected {
	color: black;
}

/*****************************************
 * BODY
 ****************************************/

section {
	max-width: 820px;
 	margin: 0 auto;
 }

#personalpic {
	float: left;
	margin-right: 15px;
}

#theimage {
	border-radius: 100%;
}

figcaption {
	text-align: center;
	font-size: 10px;
}

h3 {
	text-align: center;
}
 /****************************************
 * FOOTER 
 ****************************************/

footer {
  font-size: 0.75em;
  text-align:center;
  padding-top: 50px;
  clear: both;
}